# Ambientes Virtuais
venv/
env/
.env

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ferramentas de Banco de Dados e Migrações
alembic/
alembic.ini

# IDEs (VS Code / PyCharm)
.vscode/
.idea/

# Logs e arquivos temporários
*.log
.DS_Store